In [ ]:

# çalışıyor.. instagram-scraper DiyanetTV

In [16]:
#https://pypi.org/project/instagramy/
from instagramy import InstagramUser 
from instagramy import InstagramPost
# Connecting the profile 
user = InstagramUser("DiyanetTV") 

# printing the basic details like 
# followers, following, bio 
print(user.is_verified) 
print(user) 
print(user.biography) 
session_id="10822774760%3A9qEyIdlDtoozLv%3A2"

True
Diyanet TV (diyanettv) -> Diyanet TV Resmi Instagram Sayfası
Diyanet TV YouTube Kanalı: ⤵️
Diyanet TV Resmi Instagram Sayfası
Diyanet TV YouTube Kanalı: ⤵️

In [20]:
from instagramy.plugins.analysis import analyze_users_popularity
import pandas as pd
teams = ["DiyanetTV", "diyanetradyo",
        "diyanetduyurular", "diyanethbr",
        "diyanetduyurular", "diyanetesoralim",
        "diyanetcocuk"]
data = analyze_users_popularity(teams, session_id)
pd.DataFrame.from_dict(data)

          Usernames  Followers  Following  Posts
0         DiyanetTV     940071         27  13088
1      diyanetradyo      45820         24   4027
2  diyanetduyurular       8502         38    272
3        diyanethbr      39974         11    739
4  diyanetduyurular       8502         38    272
5   diyanetesoralim      23404         11    559
6      diyanetcocuk      23833         11    588